:root {
  --normal_red: #EC0000;
  --light_red: #FF9B9B;
  --sky_blue: #DEEDF2;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #444;
  --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    font-family: var(--font);
    margin: auto;
    padding: 0;
    min-width: 500px;
    //background-color: var(--sky_blue);
}

body {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}

#main {
	max-width:98%;
	margin: auto;
}

header > h1 {
	background-color: var(--white);
	color: var(--normal_red);
	
	display: flex; /* Flexbox para alinear los hijos en fila */
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

#headerTitle {
		font-size: 0.75em;
		margin-top: 0.8%;
		margin-left: 15px;
}

header > p {
	margin-left: 15px;
	font-size: 1.3em;
}

/* CSS para el modal de mensajes de error */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija */
    z-index: 1000; /* Superposición por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Fondo negro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% de margen arriba y abajo, centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Puede ajustarse según sea necesario */
    max-width: 500px; /* Máximo ancho para evitar demasiado ancho */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease-in-out;
    color: white;
}

.close-button {
    color: #aaa;
    //float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    
    position: absolute;
    top: 0%;
    right: 4%;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}