<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Santander SIDManager: Documents not registered in the database</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/shared.js"></script>
    
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>	
    <header>
        <h1 th:attr="onclick='location.href=\'' + @{${@environment.getProperty('serverUrl')}} + '\';'" &nbsp;>
            <img src="/img/logo-santander.svg" alt="Santander">
            <span id="headerTitle">SIDManager</span>
        </h1>
    </header>
	
	<main>
	    <div class="container">
	        <!-- Show the message if it exists / paint it red if it is a warning / print the one from app.properties with that name -->
	        <div id="errorMessageModal" class="modal" th:if="${responseMessage}">
	            <div class="modal-content" 
	            	th:style="${isAWarningMessage ? 
		        		'background-color:red;' :
		            	'background-color:green;'}">
	                <span class="close-button">&times;</span>
	                <p th:text="#{${responseMessage}}"></p>
	            </div>
	        </div>
	        
	        <form style="border:1px solid #ccc" th:action="@{/user/login}" method="post">
			    <div class="container">
			        <h1> Sign in </h1>
			        <hr>
			
			        <label for="email"><b> Email </b></label>
			        <input type="text" placeholder="Enter Email" name="username" required>
			
			        <label for="password"> <b> Password </b> </label>
			        <input type="password" placeholder="Enter Password" name="password" pattern=".{8,}" required>
			        
			        <p> <a th:href="@{${requestUpdatePasswordUrl}}" style="color:dodgerblue"> Forgot password? </a> </p>
			        <p> <a th:href="@{${createClientUserUrl}}" style="color:dodgerblue"> Create new account </a> </p>  
			
			        <div class="clearfix">
			            <button type="submit" class="signupbtn"> Sign in </button>
			        </div>
			    </div>
			</form>
	    </div>
	</main>
</body>

</html>