<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Santander SIDManager: Documents not registered in the database</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/documentsView.js"></script>
    
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>	
    <header>
        <h1 th:attr="onclick='location.href=\'' + @{${@environment.getProperty('serverUrl')}} + '\';'" &nbsp;>
            <img src="/img/logo-santander.svg" alt="Santander">
            <span id="headerTitle">SIDManager</span>
        </h1>
    </header>
	
	<main>
	    <div class="container">
	        
			<!-- Show the message if it exists / paint it red if it is a warning / print the one from app.properties with that name -->
	        <div id="errorMessageModal" class="modal" th:if="${responseMessage}">
	            <div class="modal-content" 
	            	th:style="${isAWarningMessage ? 
		        		'background-color:red;' :
		            	'background-color:green;'}">
	                <span class="close-button">&times;</span>
	                <p th:text="#{${responseMessage}}"></p>
	                <p th:if="${loginUrl}"> <a th:href="@{${loginUrl}}"> Click here to go to login page. </a> </p>
	            </div>
	        </div>
	        
	        <form th:if="${shouldFormBeShown}" style="border:1px solid #ccc" th:action="@{/user/updatePassword}" method="post">
			    <div class="container">
			        <h1> Change your password </h1>
			        <hr>
			
			        <label for="password"><b> Password (*) </b> <p>Must contain 8 or more characters</p></label>
			        <input type="password" placeholder="Enter Password" name="password" 
			            pattern=".{8,}" required>
			
			        <label for="psw-repeat"><b> Repeat Password (*)</b></label>
			        <input type="password" placeholder="Repeat Password" name="psw-repeat" 
			            pattern=".{8,}" required>
			
			        <div class="clearfix">
			            
			            <button type="submit" class="signupbtn"> Change password </button>
			        </div>
			    </div>
			</form>
	    </div>
	</main>
</body>
</html>